
    <header>
        <h1>Dashboard de Sensores</h1>
    </header>
    <section>
        <div class="container">
            <div class="card">
                <h2>Luminosidade</h2>
                <canvas id="luminosidade"></canvas>
            </div>
            <div class="card">
                <h2>Umidade</h2>
                <canvas id="umidade e temperatura"></canvas>
            </div>
            <div class="card">
        
            <div class="card">
                <h2>Presença de movimento</h2>
                <canvas id="movimento"></canvas>
            </div>
        </div>
    </section>
    
    <script src="script.js"></script>
</body>